# To install: 
#
# systemctl --user enable ./kwanata.service
#
# This will create links to this file in ~/.config/systemd/user/ 
#
# If you change this file run this to reload it.
#
# systemctl --user daemon-reload
# systemctl --user restart kwanata
#
[Unit]
Description=KWanata KWin-Script to Kanata bridge
After=plasma-workspace.target kanata.service
Wants=kanata.service
PartOf=kanata.service

[Service]
Type=simple

ExecStart=/usr/bin/python3 %h/.local/bin/kwanata \
  --port 10101 \
  --verbose \
  -c %h/.config/kwanata/config.toml \
  --kwin-script %h/.local/state/kwanata/kwin_script.js

Restart=no

[Install]
WantedBy=plasma-workspace.target
